/*CSS*/

h1.home {
	
	position: absolute;
	width: 343px;
	height: 125px;
	left: 121px;
	top: 147px;
	/*
	margin-top: 180px;
	margin-left: 121px;
	*/
	font-family: Thinking of betty;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 96px;

	color: #010532;		
}

h2.home {
	
	position: absolute;
	width: 777px;
	height: 79px;
	left: 121px;
	top: 334px;

	font-family: Lato;
	font-style: normal;
	font-weight: 550;
	line-height: normal;
	font-size: 48px;

	color: #010532;
}

img {
	position: absolute;
	width: 350px;
	height: 350px;
	left: 909px;
	top: 187px;

	background: url(Revan-05.png);			
}

#circle {
	position: absolute;
	width: 320px;
	height: 320px;
	left: 70px;
	top: 194px;
	border-radius: 50%;
	background: rgba(33, 162, 217, 0.6);
}

h4.title_center {
	font-family: Lato;
	font-style: normal;
	font-weight: 550;
	line-height: normal;
	font-size: 38px;
	text-align: center;

	color: #010532;
}

h5.detail {
	font-family: Gilroy;
	font-style: normal;
	font-size: 23px;
	text-align: center;

	color: blue;
}

p.description {
	font-family: Lato;
	font-style: normal;
	font-size: 19px;
	font-weight: 400;
	text-align: center;

	color: blue;
}

body {
    background-color: lightblue;

}

body .container {
	margin-top: 800px;
}